/*
 * The following pipeline parameters specify the reference genome and annotation
 * and input to ORFquant and must be provided as command line options or in config file.
 * Input is the directory where *_for_ORFQUANT files are located (output or RiboseQC).
 * Mapped reads for test data are downloaded from Google drive as described in RiboseQC manual
 * and processed by RiboseQC to obtain input for ORFquant
 * Reference genome and gtf are chr22 and chrM of the hg38 gencode assembly.
 * Rannot is specific to ORFquant (RiboseQC Rannot cannot be used).
 */

params {
    // Path to input data
    input_dir = null
    // gtf
    gtf = null
    // genome fasta
    fasta = null
    // outdir
    outdir = "results"
    // Rannot (annotation, optional, provide to skip generation)
    rannot = null
}

// set resource limits 
process {
    withLabel: multi {
        cpus = 4
        memory = 10.GB
    }
    resourceLimits = [
            memory: 20.GB,
            cpus: 4,
            time: 2.d
        ]
}

// set profiles
profiles {
    local {
        process.executor = 'local'
    }
    docker {
        docker {
            enabled = true
            fixOwnership = true
            //runOptions = '-u $(id -u):$(id -g)'
        }
    }
    singularity {
        singularity {
            enabled = true
        }
    }
    slurm {
        process.executor = 'slurm'
    }
    test {
        params.input_dir = "$baseDir/test_data"
        params.gtf = "$baseDir/test_data/test_human_chrM_22.gtf"
        params.fasta = "$baseDir/test_data/test_human_chrM_22.fa"
        params.outdir = "results"
        params.rannot = "$baseDir/test_data/test_human_chrM_22.gtf_Rannot"
    }
}
